/**
  |============================
  | Benefits section
  |============================
*/
/* Benefits */

.benefits {
	&__list {
		display: flex;
		gap: 30px;
		flex-wrap: wrap;
		flex-direction: column;

		@media (min-width: $bp-tablet) {
			flex-direction: row;
		}
	}
	&__item {
		width: 270px;
	}

	&__subtitle {
		margin: 0 0 10px 0;
		color: var(--primary-text-color);
		font-weight: 700;
		font-size: 14px;
		line-height: 1.1;
		letter-spacing: 0.03em;
		text-transform: uppercase;
	}

	&__subtext {
		margin: 0 auto;
		color: var(--primary-address-color);
		font-size: 14px;
		line-height: 1.7;
		letter-spacing: 0.03em;
	}

	&__icons {
		display: flex;
		align-items: center;
		background: #f5f4fa;
		border-radius: 4px;
		padding: 25px 100px;
		margin-bottom: 30px;
		width: 270px;
		height: 120px;
	}
}
