// /**
//   |============================
//   | Team section
//   |============================
// */
/* Team */

.team {
	background-color: var(--section-color-background);

	&__img {
		display: block;
	}

	&__list {
		display: flex;
		gap: 30px;
		flex-wrap: wrap;
	}

	&__card {
		box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
			0px 2px 1px rgba(0, 0, 0, 0.2);
		border-radius: 0px 0px 4px 4px;
		width: 450px;
		height: 622px;

		@media (min-width: $bp-tablet) {
			width: 354px;
			height: 536px;
		}
		@media (min-width: $bp-desktop) {
			width: 270px;
			height: 428px;
		}
	}

	&__group {
		background-color: var(--logo-color-footer);
		padding: 24px 122px;

		@media (min-width: $bp-tablet) {
			padding: 24px 74px;
		}
		@media (min-width: $bp-desktop) {
			padding: 30px 32px;
		}
	}
	&__name {
		margin: 0 0 10px 0;
		font-weight: 500;
		font-size: 16px;
		line-height: 1.2;
		text-align: center;
		letter-spacing: 0.03em;
	}
	&__text {
		margin: 0 auto;
		color: var(--primary-address-color);
		font-size: 16px;
		line-height: 1.2;
		text-align: center;
		letter-spacing: 0.03em;
	}
	&__social-icon {
		width: 44px;
		height: 44px;
		padding: 12px;
		display: flex;
		align-items: center;
		gap: 10px;
		fill: var(--icon-default-color);
		border-radius: 50%;
		transition-property: background-color, fill;
		transition-duration: 250ms;
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

		&:hover,
		&:focus {
			background-color: var(--logo-color-main);
			fill: var(--logo-color-footer);
		}
	}
}
