.mobile-menu {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: var(--logo-color-footer);
	transform: translateX(100%);
	transition: transform 250ms;
	z-index: 999;

	&.is-open {
		transform: translateX(0);
	}

	&__block {
		padding: 40px;
		max-width: 480px;
		max-height: 796px;
	}

	&__close {
		position: absolute;
		top: 10px;
		right: 10px;
	}

	&__menu {
		display: flex;
		flex-direction: column;
		gap: 32px;
		margin-bottom: 302px;

		@media (min-width: $bp-tablet) {
			display: none;
		}
	}

	&__menu-link {
		display: block;
		font-style: 500;
		font-size: 40px;
		line-height: 1.17;
		text-align: left;
		letter-spacing: 0.2;

		&--current {
			color: var(--logo-color-main);
			margin-bottom: 3px;
		}
		&--rel {
			color: rgba(33, 33, 33, 0.9);
		}
	}

	&__contact {
		display: flex;
		flex-direction: column;
		gap: 32px;
		margin-bottom: 64px;
	}

	&__tel {
		font-style: 500;
		font-size: 34px;
		line-height: 1.17;
		text-align: left;
		letter-spacing: 0.2;
		color: var(--logo-color-main);
		margin-bottom: 32px;
	}

	&__email {
		font-style: 500;
		font-size: 24px;
		line-height: 1.17;
		text-align: left;
		letter-spacing: 0.2;
		color: var(--primary-address-color);
	}

	&__socnetwork {
		display: flex;
		justify-content: left;
		align-items: center;

		& span {
			margin: 0 10px;
			color: rgba(33, 33, 33, 0.2);
		}
	}
	&__soclink {
		color: var(--logo-color-main);
		font-style: 500;
		font-size: 18px;
		line-height: 1.2;
		letter-spacing: 0.2;
	}
}
