.container {
	margin: 0 auto;
	padding: 0 15px;

	@media screen and (min-width: $bp-mobile) {
		width: 480px;
		// background-color: red;
	}

	@media screen and (min-width: $bp-tablet) {
		width: 768px;
		// background-color: green;
	}

	@media screen and(min-width: $bp-desktop) {
		width: 1200px;
		// background-color: blue;
	}
}
