.clients {
	padding: 60px 0;
	background-color: var(--logo-color-footer);

	@media screen and (min-width: 1200px) {
		padding: 94px 0;
	}

	&__list {
		flex-wrap: wrap;
		display: flex;
		text-align: center;
		justify-content: center;
		gap: 30px;
	}

	&__item {
		width: 210px;
		height: 92px;
		@media screen and (min-width: 768px) {
			width: 226px;
		}

		@media screen and (min-width: 1200px) {
			width: 170px;
		}
	}

	&__link {
		border: solid 1px var(--icon-default-color);
		display: flex;
		align-items: center;
		padding: 16px 52px;
		fill: var(--icon-default-color);
		border-radius: 4px;
		transition-property: border-color, fill;
		transition-duration: 250ms;
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

		&:hover,
		&:focus {
			fill: var(--logo-color-main);
			border-color: var(--logo-color-main);
		}
	}
}
