.logo {
	display: inline-block;
	color: var(--logo-color-main);
	font-family: "Raleway";
	font-size: 26px;
	line-height: 1.2;
}

.logo-wite {
	color: var(--logo-color-footer);
}
.logo-black {
	color: var(--logo-color-header);
}
